<!-- <p>
  quote works!
</p> -->
<div class="jumbotron"><h1>"MOTIVATIONAL AND INSPIRATIONAL QUOTES"</h1></div>
<div class="container">
<div class="row">
<div class="col-md-6 form">
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<div class="col-md-6 quote">
<ul>
  <div *ngFor='let quote of quotes;let i=index'>
    <li id="{{i}}" appUnderline>{{quote.name}}</li>
    <app-vote></app-vote>
    <button (click)='toogleDetails(i)' class="btn info">More Info</button>
    <app-quote-details *ngIf="quote.showAuthor" [quote]='quote'
    (isComplete)='deleteQuote($event,i)'></app-quote-details>
</div>
</ul>
</div>
</div>
</div>
