<!-- <p>
  quote-form works!
</p> -->
<form (ngSubmit)='submitQuote()' #quoteForm = 'ngForm'>
  <!--Author Input-->
  <h3>AUTHOR NAME: </h3>
  <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel">
  <!--Testing to see if we get data
  Display {{newQuote.author}}-->

      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Please input author!</p>
      </div>

  <!--Quote Input-->
  <h3>INPUT QUOTE: </h3>
  <textarea class="form-control" id="quote" rows="3" [(ngModel)]="newQuote.name" name="quote" #quote="ngModel" required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p>Please input quote!</p>
        </div>

        <!--Date Input-->
        <div class="form-control">
          <label for="complete">Date Quoted</label>
          <input type='Date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
          <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Please input date!</p>
              </div>
            </div>
  <!--Submit Button-->
  <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
</form>
